body{
    background-color: rgb(0, 0, 0);
}

#img-banner{
    position: relative;
    right: 8px;
    width: 1250px;
    height: 600px;
}

#img-banner1{
    position: relative;
    right: 15px;
    width: 760px;
    height: 600px;
}

#text{
    color: white;
    position: relative;
    bottom: 175px;
    left: 380px;
}

